@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,400italic,700|Open+Sans+Condensed:700,300)')

body
  width: 1000px
  background: url("images/gz_headerimage.jpg") no-repeat scroll 50% 0 #000000
  color: #efefef
  margin: 0px auto
  padding: 35px 0 0 0

#main
  padding-top: 100px
  margin-bottom: 50px
  
  .heading
    font-family: "Open Sans"
    font-weight: 700
    font-size: 36px
    color: #efefef
    width: 100%
    text-align: center
    margin-top: 60px
    padding: 0px
  
  .sub-heading
    font-family: "Open Sans"
    font-weight: 400
    font-size: 14px
    color: #efefef
    padding: 0px
    margin: 0px

#navigation
  height: 80px
  
  ul
    padding: 0
    margin: 0
    text-align: center
    
    li
      line-height: 76px
      vertical-align: middle
      display: inline-block
      background-position: center
      height: 76px
